<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="start" [opened]="false">
    <app-product-filter (filterApplied)="handleFilter($event)"></app-product-filter>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header-container">
      <button mat-raised-button color="primary" (click)="sidenav.toggle()" class="toggle-button">Toggle Filters</button>
    </div>
    <div class="loading-container" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="content-container" *ngIf="!isLoading">
      <div *ngIf="products.length > 0; else noProducts" class="products-grid">
        <div *ngFor="let product of products" class="product-card">
          <div class="product-image-container">
            <img *ngIf="product.image" [src]="getImageSrc(product.image)" alt="{{ product.name }}" class="product-image" [routerLink]="['/product', product.id]"/>
          </div>
          <div class="product-info-container">
            <div class="product-info">
              <h2 [routerLink]="['/product', product.id]">{{ product.name | truncate:50 }}</h2>
              <p>{{ product.description | truncate:200 }}</p>
              <p>Price: €{{ product.price  | number: '1.2-2' }}</p>
              <p *ngIf="product.pcType">Type: {{ product.pcType.typeName }}</p>
              <p *ngIf="product.pcPartType">Type: {{ product.pcPartType.typeName }}</p>
              <p *ngIf="product.peripheralType">Type: {{ product.peripheralType.typeName }}</p>
              <p *ngIf="product.softwareType">Type: {{ product.softwareType.typeName }}</p>
              <p *ngIf="product.usedState">State: {{ product.usedState }}</p>
            </div>
            <div class="button-container">
              <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noProducts>
        <p class="no-products-message">No products available.</p>
      </ng-template>
    </div>
    <mat-paginator class="paginator"
                   [length]="length"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePage($event)">
    </mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>
