<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="false">
    <app-product-filter (filterApplied)="handleFilter($event)"></app-product-filter>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button color="primary" (click)="sidenav.toggle()" class="toggle-button">Toggle Filters</button>

    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="content-container">
      <div *ngIf="products.length > 0; else noProducts" class="products-grid">
        <div *ngFor="let product of products" class="product-card">
          <div class="product-image-container">
            <img *ngIf="product.image" [src]="getImageSrc(product.image)" alt="{{ product.name }}" class="product-image" [routerLink]="['/product', product.id]"/>
          </div>
          <div class="product-info-container">
            <div class="product-info">
              <h2 [routerLink]="['/product', product.id]">{{ product.name }}</h2>
              <p>{{ product.description | truncate:200 }}</p>
              <p>Price: €{{ product.price }}</p>
              <p *ngIf="product.pcType">Type: {{ product.pcType }}</p>
              <p *ngIf="product.pcPartType">Type: {{ product.pcPartType }}</p>
              <p *ngIf="product.peripheralType">Type: {{ product.peripheralType }}</p>
              <p *ngIf="product.softwareType">Type: {{ product.softwareType }}</p>
              <p *ngIf="product.usedState">State: {{ product.usedState }}</p>
            </div>
            <div class="button-container">
              <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noProducts>
        <p class="no-products-message">No products available.</p>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
