<h2 mat-dialog-title>Change password?</h2>
<mat-dialog-content>
    <form [formGroup]="changePasswordForm">
        <mat-form-field appearance="outline" class="password-box">
            <mat-label>Old password</mat-label>
            <input type="password" matInput formControlName="oldPassword">
            <mat-hint>Enter old password</mat-hint>
            <mat-error>Old password is required!</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="password-box">
            <mat-label>New password</mat-label>
            <input type="password" matInput formControlName="newPassword">
            <mat-hint>Enter new password</mat-hint>
            <mat-error>New password is required!</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="changePassword()"  [disabled]="!changePasswordForm.valid">Change</button>
</mat-dialog-actions>
