<div *ngIf="isLoading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <h1 class="products-grid-title" style="margin-top: 10px">TOP 5 PCS</h1>

  <div *ngIf="pcs.length > 0; else noProducts" class="products-grid">
    <div *ngFor="let product of pcs" class="product-card">
      <div class="product-image-container">
        <img *ngIf="product.image" [src]="getImageSrc(product.image)" alt="{{ product.name }}" class="product-image" [routerLink]="['/product', product.id]"/>
      </div>
      <div class="product-info-container">
        <div class="product-info">
          <h2 [routerLink]="['/product', product.id]">{{ product.name | truncate:50}}</h2>
          <p>Price: €{{ product.price | number: '1.2-2'  }}</p>
          <p *ngIf="product.pcType">Type: {{ product.pcType.typeName }}</p>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <h1 class="products-grid-title">TOP 5 PC PARTS</h1>

  <div *ngIf="pcParts.length > 0; else noProducts" class="products-grid">
    <div *ngFor="let product of pcParts" class="product-card">
      <div class="product-image-container">
        <img *ngIf="product.image" [src]="getImageSrc(product.image)" alt="{{ product.name }}" class="product-image" [routerLink]="['/product', product.id]"/>
      </div>
      <div class="product-info-container">
        <div class="product-info">
          <h2 [routerLink]="['/product', product.id]">{{ product.name | truncate:50}}</h2>
          <p>Price: €{{ product.price }}</p>
          <p *ngIf="product.pcPartType">Type: {{ product.pcPartType.typeName }}</p>
          <p *ngIf="product.usedState">State: {{ product.usedState }}</p>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <h1 class="products-grid-title">TOP 5 PERIPHERAL ITEMS</h1>

  <div *ngIf="peripherals.length > 0; else noProducts" class="products-grid">
    <div *ngFor="let product of peripherals" class="product-card">
      <div class="product-image-container">
        <img *ngIf="product.image" [src]="getImageSrc(product.image)" alt="{{ product.name }}" class="product-image" [routerLink]="['/product', product.id]"/>
      </div>
      <div class="product-info-container">
        <div class="product-info">
          <h2 [routerLink]="['/product', product.id]">{{ product.name | truncate:50}}</h2>
          <p>Price: €{{ product.price }}</p>
          <p *ngIf="product.peripheralType">Type: {{ product.peripheralType.typeName }}</p>
          <p *ngIf="product.usedState">State: {{ product.usedState }}</p>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <h1 class="products-grid-title">TOP 5 SOFTWARE ITEMS</h1>

  <div *ngIf="software.length > 0; else noProducts" class="products-grid">
    <div *ngFor="let product of software" class="product-card">
      <div class="product-image-container">
        <img *ngIf="product.image" [src]="getImageSrc(product.image)" alt="{{ product.name }}" class="product-image" [routerLink]="['/product', product.id]"/>
      </div>
      <div class="product-info-container">
        <div class="product-info">
          <h2 [routerLink]="['/product', product.id]">{{ product.name | truncate:50}}</h2>
          <p>Price: €{{ product.price }}</p>
          <p *ngIf="product.softwareType">Type: {{ product.softwareType.typeName }}</p>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
</div>
