.create-user-button-box {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.icon-text {
  display: flex;
  align-items: center;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
