<div *ngIf="order" class="order-details">
  <h2>Order Details</h2>

  <div class="user-details">
    <div>
      <p><strong>Name: </strong> {{ order.user.firstName }} {{ order.user.lastName }}</p>
      <p><strong>Email: </strong> {{ order.user.email }}</p>
      <p><strong>Phone number: </strong> {{ order.user.phoneNumber }}</p>
      <p><strong>Address: </strong> {{ order.user.address }}</p>
    </div>
  </div>
  <div class="user-details">
    <div class="details-left">
      <p><strong>Payment method: </strong> {{ order.creditCardNumber }}</p>
    </div>
    <div class="details-right">
      <p><strong>Order date: </strong> {{ order.orderDate | date:'dd.MM.yyyy HH:mm:ss' }}</p>
    </div>
  </div>


  <div class="order-items">
    <h3>Order Items</h3>
    <table>
      <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th class="center-text">Price for one</th>
        <th class="center-text">Quantity</th>
        <th class="center-text">Subtotal</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of order.orderItemsList" [routerLink]="['/product', item.product.id]">
        <td style="text-align: left">{{ item.product.id }}</td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.productType }}</td>
        <td class="center-text">€{{ item.price  | number: '1.2-2' }}</td>
        <td class="center-text">{{ item.quantity }}</td>
        <td class="center-text">€{{ item.price * item.quantity  | number: '1.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="total-price">
    <h3>Total Price: €{{ order.totalPrice | number:'1.2-2'  }}</h3>
  </div>
</div>
