<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 id="title" [routerLink]="'/home'">{{ title }}</h1>
    <div id="toolbarItems">
      <a *ngIf="authService.isLoggedIn()" mat-button routerLinkActive="mat-btn-active" (click)="logout()"> Logout </a>
      <a *ngIf="!authService.isLoggedIn()" mat-button routerLinkActive="mat-btn-active" [routerLink]="'/login'"> Login </a>
      <a *ngIf="!authService.isLoggedIn()" mat-button routerLinkActive="mat-btn-active" [routerLink]="'/register'"> Register </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet />
