<div class="order-history">
  <h2>Order History</h2>
  <table>
    <thead>
    <tr>
      <th>Order number</th>
      <th style="text-align: left">User</th>
      <th>Total Price</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" class="order-row">
        <td class="center-text">{{ order.id }}</td>
        <td class="order-user">{{ order.user.firstName }} {{order.user.lastName}}</td>
        <td class="center-text">€{{ order.totalPrice | number: '1.2-2' }}</td>
        <td class="order-actions">
          <a [routerLink]="['/order', order.id]" class="details-link">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
